html {
  display: flex;
  justify-content: center;
}
header {
  width: 1289px;
  min-width: 692px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
  margin: 18px 14px 12px 21px;
}
.nav-panel {
  min-width: 556px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-link {
  font-family: Gilroy-Medium, sans-serif;
  text-decoration: none;
  color: black;
  /* для батона */
}
.nav-panel > button {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: unset;
}
body {
  display: flex;
  max-width: 1319px;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
}
.left-site {
  max-width: 589px;
}
h1 {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 60px;
}
.left-site > p {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 20px;
  color: #888888;
  width: 466px;
}
.start-video {
  width: 374px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.start-now-link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
.watch-video {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0px;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 15px;
  color: #aaaaaa;
}
footer {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 53px;
  padding-top: 59px;
}
@media (max-width: 1319px) {
  header {
    flex-direction: column;
  }
  footer {
    width: 690px;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content {
    max-width: 1319px;
    flex-direction: column;
  }
}
